*[tooltip],
*[ng-reflect-tooltip] {
  position: relative;
}
*[tooltip]:hover,
*[ng-reflect-tooltip]:hover {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.my-tooltip {
  position: absolute;
  background-color: rgba(0,0,0,0.65);
  color: #fff;
  padding: 5px;
  border-radius: 0px 5px 5px 0px;
  left: calc(100% + 1px);
  top: -1px;
  line-height: 24px;
}
